body {
    font-family: Arial;
  }

.centered {
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;

}

.col {
    width: 33.33%;
}

.setosa {
    fill: mediumaquamarine;
    opacity: 30%;
}

.versicolor {
    fill: pink;
    opacity: 30%;
}

.virginica {
    fill: cornflowerblue;
    opacity: 30%;
}

.brushed {
    stroke: orange;
    stroke-width: 3px;
    opacity: 100;
}